<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>actor0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,40},{36,39}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,16},{36,39}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>actor0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,40},{36,39}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,16},{36,39}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>actor0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,40},{36,39}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,16},{36,39}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>actor0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,188},{36,37}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,18},{36,37}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>actor0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,154},{36,37}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,18},{36,37}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>actor0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,40},{36,39}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,16},{36,39}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>actor0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,78},{32,39}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,16},{32,39}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>actor0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{34,37}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,18},{34,37}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>actor0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,298},{34,37}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,18},{34,37}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>actor0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,265},{34,37}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,18},{34,37}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>actor0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,264},{34,37}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,18},{34,37}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>actor0_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,263},{34,37}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,18},{34,37}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>actor0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,187},{36,37}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,18},{36,37}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>actor0_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{34,39}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,16},{34,39}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>actor0_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,76},{34,39}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,16},{34,39}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>actor0_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,261},{34,37}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,18},{34,37}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>actor0_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{34,37}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,18},{34,37}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>actor0_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,262},{34,37}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,18},{34,37}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>actor0_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,299},{32,37}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,18},{32,37}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>actor0_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,297},{32,37}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,18},{32,37}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>actor0_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,40},{34,39}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,16},{34,39}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>actor0_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,229},{34,37}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,18},{34,37}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>actor0_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,228},{34,37}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,18},{34,37}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>actor0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,152},{36,37}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,18},{36,37}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>actor0_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,116},{36,37}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,18},{36,37}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>actor0_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{36,37}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,18},{36,37}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>actor0_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,227},{34,37}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,18},{34,37}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>actor0_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{36,39}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,16},{36,39}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>actor0_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,2},{36,39}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,16},{36,39}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>actor0_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,225},{34,37}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,18},{34,37}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>actor0_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,150},{36,37}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,18},{36,37}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>actor0_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,116},{36,37}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,18},{36,37}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>actor0_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{34,37}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,18},{34,37}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>actor0_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,226},{34,37}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,18},{34,37}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>actor0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,149},{36,37}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,18},{36,37}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>actor0_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,78},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>actor0_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>actor0_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,192},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>actor0_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,191},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>actor0_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,190},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>actor0_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,112},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>actor0_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,112},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>actor0_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{36,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,39}}</string>
                <key>sourceSize</key>
                <string>{36,39}</string>
            </dict>
            <key>actor0_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,115},{35,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,38}}</string>
                <key>sourceSize</key>
                <string>{35,38}</string>
            </dict>
            <key>actor0_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,112},{35,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,38}}</string>
                <key>sourceSize</key>
                <string>{35,38}</string>
            </dict>
            <key>actor0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{36,39}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,16},{36,39}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>actor0_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,78},{35,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,38}}</string>
                <key>sourceSize</key>
                <string>{35,38}</string>
            </dict>
            <key>actor0_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,154},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>actor0_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>actor0_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,78},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>actor0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{36,39}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,16},{36,39}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>actor0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{36,39}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,16},{36,39}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>actor0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,2},{36,39}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,16},{36,39}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>actor0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,39}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,16},{36,39}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:925f9c82b8262c01be017abf5fb0be07$</string>
            <key>textureFileName</key>
            <string>monster.png</string>
        </dict>
    </dict>
</plist>
